---
layout: default
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Help Center</h1>
		</header>
		<p>Advice and answers from the Arigato India Team</p>
	</div>
</section>

<section>
	<div class="row">
		<div class="col-6 col-12-medium">
			<h2>{{ page.title }}</h2>
			<p>{{ page.subtitle }}</p>
			<hr class="major">
			<p>{{ content }}</p>
		</div>
		<div class="col-6 col-12-medium">
			<h2>Guides</h2>
			<ul class="alt">
				<li>Dolor etiam magna etiam.</li>
				<li>Sagittis lorem eleifend.</li>
				<li>Felis feugiat viverra.</li>
			</ul>
		</div>
	</div>
</section>
